@media (max-width: 576px) {
  .nav-section,
  .banner-section,
  .habits-section,
  .run-section,
  .BMI-Calculator-container,
  .sign-up-section,
  .team-section,
  .footer-container {
    width: 90%;
  }
  .logo {
    font-size: 3rem;
  }
  .manu ul {
    display: none;
  }
  .bars-icon {
    display: block;
  }
  .club {
    display: none;
  }

  .banner-container {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  .banner-content {
    width: 100%;
  }

  .banner-content h1 {
    font-size: 5.5rem;
  }
  .btn {
    width: 175px;
    font-size: 1.2rem;
    margin-right: 15px;
  }
  .banner-img {
    width: 100%;
    text-align: left;
    margin-top: 30px;
  }
  #play {
    top: 305px;
    left: 50px;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
  .card-1 {
    bottom: 235px;
    left: 15px;
  }
  .card-2 {
    width: 180px;
    top: -220px;
    left: 190px;
  }

  .card-2 p {
    font-size: 1rem;
  }

  .habits-section-container,
  .run-section-container,
  .BMI-Calculator-container,
  .footer-container {
    flex-direction: column;
  }
  .run-section-container {
    text-align: center;
    padding: 40px;
  }
  .run-content h2 {
    font-size: 4.5rem;
  }
  .run-img{
    text-align: center;
  }

  .btn-3 {
    text-align: center;
    width: 310px;
  }
  .run-content,
  .run-img,
  .calculator-chart,
  .calculator-BMI,
  .footer-content-1,
  .footer-content-2,
  .footer-content-3,
  .hr {
    width: 100%;
    margin-top: 20px;
  }

  .BMI-Calculator-content {
    text-align: start;
    padding: 5px;
    margin-left: 20px;
    margin-bottom: 50px;
  }
  .BMI-Calculator-content h1{
    font-size: 3.5rem;
  }
  .btn-4{
    width: 240px;
  }
  .sign-up-container {
    padding: 70px;
    text-align: center;
  }
  .sign-up-container h1 {
    font-size: 1.5rem;
  }
  .action {
    font-size: 3rem;
  }
  .btn-5 {
    width: 240px;
    height: 5px;
    margin-bottom: 15px;
  }
  .team-container {
    grid-template-columns: repeat(1, 6fr);
  }
  .first-img {
    display: none;
  }

  input {
    width: 130px;
    height: 15px;
  }
  select {
    width: 170px;
    height: 60px;
  }
  .select-factor {
    width: 360px;
  }
}
