@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import url("https://fonts.cdnfonts.com/css/miama");
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
p {
  color: var(--paragraph-color);
  font-size: 1.5rem;
  font-weight: 400;
}
img {
  max-width: 100%;
}
:root {
  --primary-color: rgb(230, 83, 60);
  --secondary-color: rgb(255, 255, 255);
  --background: rgb(34, 34, 34);
  --paragraph-color: rgba(255, 255, 255, 0.5);
}

/* <!-- ==++==++==++==++==++==++==++==++==++==++==++==
                     nav-section
==++==++==++==++==++==++==++==++==++==++==++== --> */
.hide {
  display: none;
}
header {
  padding: 50px 0px 0px 0px;
  background: rgb(34, 34, 34);
  background-image: linear-gradient(to bottom, #141414, #222222, #141414);
}
.nav-section {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-color);
}
.logo {
  width: 20%;
  color: var(--primary-color);
  font-size: 3.6rem;
  font-weight: 800;
}
.manu {
  width: 45%;
  text-align: end;
}

.manu ul {
  display: flex;
  justify-content: end;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 40px;
}
.manu ul li {
  list-style: none;
  margin-left: 50px;
  color: var(--secondary-color);
  font-size: 1.7rem;
  font-weight: 400;
  padding: 10px 25px;
  border-radius: 40px;
}
.home {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: 600;
  text-align: left;
  padding: 10px 20px;
}
.manu-icon {
  display: none;
  color: var(--secondary-color);
  font-size: 2rem;
}
/* <!-- ==++==++==++==++==++==++==++==++==++==++==++==
                     banner-section
==++==++==++==++==++==++==++==++==++==++==++== --> */
.banner-section {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content {
  width: 50%;
  text-align: left;
}
.banner-content h1 {
  color: var(--secondary-color);
  font-size: 8rem;
  font-weight: 900;
  margin-bottom: 25px;
}
.special-text {
  font-family: "Miama", sans-serif;
}
.btn {
  margin-top: 25px;
  margin-right: 15px;
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 20px 50px;
  border-radius: 40px;
  border: none;
}
.btn-2 {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255);
  background: rgba(255, 255, 255, 0.1);
}
.banner-img {
  width: 50%;
  text-align: center;
  position: relative;
}

#play {
  position: absolute;
  top: 360px;
  right: 540px;
}
.card-1 {
  width: 190px;
  height: 90px;
  font-size: 2.5rem;
  font-weight: 900;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(3px);
  background: rgba(48, 48, 48, 0.54);
  position: absolute;
  right: 370px;
  bottom: 70px;
}
.circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--primary-color);
}
.Video-tutorial {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.Video-tutorial h2 {
  color: var(--secondary-color);
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 6px;
}
.card-2 {
  width: 200px;
  height: 100px;
  /* font-size: 4rem; */
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 30px 5px 30px;
  position: absolute;
  left: 340px;
  bottom: 270px;
}
.card-2 h1 {
  color: rgb(255, 255, 255);
  font-size: 4rem;
  font-weight: 900;
  text-align: left;
  margin-bottom: 5px;
}
/* <!-- ==++==++==++==++==++==++==++==++==++==++==++==
               Change Your Habits-section
==++==++==++==++==++==++==++==++==++==++==++== --> */
main {
  background-color: #000000;
}
.habits-section {
  max-width: 80%;
  margin: 0 auto;
  color: aliceblue;
}
.title {
  color: var(--secondary-color);
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 15px;
}
.description {
  color: var(--paragraph-color);
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
}
.habits-section-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.habits-content {
  text-align: center;
}
.habits-content img {
  border-radius: 50%;
}
.habits-content h3 {
  color: rgb(255, 255, 255);
  font-size: 1.7rem;
  font-weight: 600;
  margin-top: 28px;
  margin-bottom: 8px;
}
/* <!-- ==++==++==++==++==++==++==++==++==++==++==++==
                       Run-section
==++==++==++==++==++==++==++==++==++==++==++== --> */
.run-section {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}
.run-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  padding: 30px 20px 20px 60px;
}
.run-content {
  width: 50%;
  text-align: left;
}
.run-content h2 {
  color: var(--secondary-color);
  font-size: 5.5rem;
  font-weight: bold;
  margin-bottom: 25px;
}
.run-content p {
  line-height: 25px;
}
.btn-3 {
  margin-top: 40px;
  padding: 15px 70px;
}

.run-img {
  text-align: end;
  width: 50%;
}
.run-img img {
  max-width: 100%;
  height: 312px;
  border-radius: 20px;
}
/* <!-- ==++==++==++==++==++==++==++==++==++==++==++==
                   BMI Calculator-section
==++==++==++==++==++==++==++==++==++==++==++== --> */
.BMI-Calculator-content {
  text-align: left;
  margin-top: 70px;
  margin-left: 300px;
  margin-bottom: 90px;
}
.BMI-Calculator-content h1 {
  color: var(--secondary-color);
  font-size: 5rem;
  font-weight: bold;
  line-height: 120%;
  text-align: left;
  margin-bottom: 15px;
}
.BMI-Calculator-section {
  background: rgb(34, 34, 34);
}
.BMI-Calculator-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calculator-chart {
  width: 50%;
}
.BMI-title {
  color: var(--secondary-color);
  font-size: 2.8rem;
  font-weight: 900;
  text-align: left;
  margin-bottom: 50px;
}
.sub-title {
  margin-top: 40px;
  margin-bottom: 14px;
  text-align: left;
}
.BMI-description {
  text-align: left;
  margin-bottom: 40px;
}

table {
  border-collapse: collapse;
}
td,
th {
  border: 2px solid rgba(255, 255, 255, 0.1);
  padding: 20px 35px;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.4rem;
  font-weight: 400;
  text-align: left;
}
th {
  color: var(--secondary-color);
  font-size: 1.7rem;
  font-weight: 500;
}
.calculator-BMI {
  width: 50%;
}
input {
  width: 200px;
  height: 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.6rem;
  font-weight: 400;
  text-align: left;
  padding: 20px;
  border: none;
  margin-right: 15px;
  margin-bottom: 15px;
}
select {
  width: 250px;
  height: 60px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.3);
  font-size: 1.5rem;
  font-weight: 400;
  text-align: left;
  border: none;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 20px;
}

.select-factor {
  width: 516px;
  padding-right: 10px;
}
.btn-4 {
  padding: 15px 60px;
  margin-bottom: 50px;
}

/* <!-- ==++==++==++==++==++==++==++==++==++==++==++==
                Make-Me-New-section
==++==++==++==++==++==++==++==++==++==++==++== --> */

.sign-up-section {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 90px;
  background-image: url("../images/exercise6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  opacity: 0.8;
  border-radius: 20px;
}
.sign-up-container {
  text-align: center;
  text-transform: uppercase;
  padding: 110px;
}
.sign-up-container h1 {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 50px;
}
.action {
  color: var(--primary-color);
  font-size: 5rem;
}

.btn-5 {
  width: 400px;
  height: 50px;
  font-size: 1.5rem;
  font-weight: 400;
  border: 1px solid var(--secondary-color);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  text-align: start;
  padding-left: 20px;
  margin-right: 10px;
  color: var(--secondary-color);
}

#submit {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-color);
  padding: 17px 25px;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 400;
}

/* <!-- ==++==++==++==++==++==++==++==++==++==++==++==
                Meet Our Team-section
==++==++==++==++==++==++==++==++==++==++==++== --> */
.team-section {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 100px;
}
.team-container {
  background: rgba(255, 255, 255, 0.1);
  margin-top: 60px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 2fr);
  border-radius: 16px;
  opacity: 0.8;
  padding: 20px;
}
.team-members {
  position: relative;
}

.team-members img {
  width: 100%;
  height: 300px;
  border-radius: 20px;
}
.team-member-details {
  position: absolute;
  left: 20px;
  bottom: 25px;
}
.team-member-details h3 {
  color: var(--secondary-color);
  font-size: 2.8rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 8px;
}

/* <!-- ==++==++==++==++==++==++==++==++==++==++==++==
                   footer-section
==++==++==++==++==++==++==++==++==++==++==++== --> */
footer {
  background: var(--background);
}
.footer-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-color);
  text-align: left;
  padding-top: 70px;
}

.footer-logo {
  font-size: 7rem;
  font-weight: 900;
  margin-bottom: 25px;
}
.footer-content-1 p {
  line-height: 25px;
}
.start-title {
  color: var(--secondary-color);
  font-size: 3rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 25px;
}
.footer-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.8rem;
  font-weight: 400;
  text-align: left;
  margin-bottom: 15px;
}
.hr {
  border: 2px solid rgba(255, 255, 255, 0.1);
  width: 80%;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 40px;
}
.footer-down {
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--secondary-color);
  opacity: 0.7;
  text-align: center;
  padding-bottom: 30px;
}
